[worldserver]

###################################################################################################
#	CUSTOM SERVER
###################################################################################################
#当玩家登录时宣布模块?

CustomServer.Announce = 1

# 当玩家在特定的时间间隔内升级时，烟花便会响起
# 间隔:5, 10, 15, 20, 30, 40, 50, 60, 70, 80
# 启用这个模块吗? (1: true | 0: false)

CustomServer.FireworkLevels = 1
